@model IEnumerable<StyleViet.Service.ViewModel.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SalonLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Service</a>
</p>


