@model StyleViet.Service.ViewModel.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile" asp-controller="Auth">
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="GoogleId" />
            <input type="hidden" asp-for="FacebookId" />
            <input type="hidden" asp-for="RoleId" />            
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" asp-for="Email">
            </div>
            <div class="form-group">
                <label for="address">Street address</label>
                <input type="text" class="form-control" id="address" placeholder="Street address" asp-for="Address">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>